/*CUERPO*/
body {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  background-color: #000d0e;
  font-size: 20px;
  text-align: center;
}

/*AGRANDAR SECCIONES AL PASAR EL MOUSE*/
section {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

section:hover {
  transform: scale(1.05);
}

/*ENCABEZADO*/
header {
  background: rgb(93, 168, 243);
  color: #fff;
  padding: 20px;
  height: 50vh;
  background-image: url(https://img.freepik.com/foto-gratis/arreglo-escritorio-angulo-alto-laptop_23-2149013923.jpg?w=740&t=st=1721175163~exp=1721175763~hmac=09ad6193f410aec2e8461912267409c1f7e28c3bf6e9dbf0a10e8d0389a28ea1);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  justify-content: center;
  display: grid;
  align-items: center;
  line-height: 0.3;
}

h1 {
  font-weight: 700;
  font-style: bold;
  font-size: 4rem;
  text-shadow: 2px 2px 4px #1c1b1b;
  padding: auto;
  margin: 0;
}

#centro p {
  font-size: 1.25rem;
  color: white;
  text-shadow: 1px 1px 2px #1c1b1b;
  margin: 0;
}

/*ACERCA DE MI*/
#acercaDeMi {
  text-align: center;
  border-radius: 30px;
  background-color: #1d545c;
  color: #000d0e;
  margin-top: 10px;
  padding: 20px;
}

#acercaDeMi h2 {
  color: #361911;
  font-weight: bold;
  font-style: bold;
  font-size: 3rem;
}

#acercaDeMi h3 {
  font-size: 1.75rem; /* Ajustar el tamaño de fuente para pantallas medianas */
}

p {
  font-family: "Fredoka", sans-serif;
  font-size: 1.125rem; /* Ajustar el tamaño de fuente para pantallas medianas */
}

/*APRENDIZAJE*/
#miAprendizaje {
  border-radius: 30px;
  background-color: #002b31;
  padding: 15px;
  font-size: xx-large;
  color: #ca9c4b;
  text-align: center;
}

#miAprendizaje h2 {
  font-size: 2rem; /* Ajusta el tamaño del título para pantallas pequeñas */
  margin-bottom: 20px; /* Espacio debajo del título */
}

#miAprendizaje img {
  padding: 10px; /* Espacio alrededor de las imágenes */
  max-width: 200px; /* Ajusta el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes */
}

.logotipos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  /*text-align: center;
  max-width: 100%;
  font-size: 3rem;
  justify-content: center;*/
}

/*OBJETIVOS*/
.objetivos {
  padding: 1rem;
  border-radius: 30px;
  background-color: #361911;
  margin-top: 10px;
  font-size: x-large;
  color: #ca9c4b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objetivosInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*crea tres columnas iguales*/
  gap: 1rem; espacio entre columnas
  width: 100%;
  /*max-width: 1200px;*/
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
}

/*.objetivosInfo .columna {
  box-sizing: border-box;
}*/

.objetivosInfo h3 {
  color: #ca9c4b;
  text-shadow: 2px 2px 4px #1d545c;
  margin-top: 0;
  margin-bottom: 10px;
}

.objetivosInfo p {
  text-align: left;
  background-color: #002b31;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  border: 2px inset #ca9c4b;
  color: #2a646d;
  box-sizing: border-box;
}

.encabezadocolumna {
  text-align: center;
  margin-bottom: 20px;
}

/*.columna {
  box-sizing: border-box;
}

.columna h3 {
  margin-top: 0;
}*/

/*FORMULARIO*/
form,
#contacto {
  background-color: #1d545c;
  border-radius: 10px;
  box-shadow: 0 1 10px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

#contacto {
  margin: 0 auto;
  width: 50%;
  padding: 10px 0;
}

label {
  text-align: center;
  display: block;
  width: 100%;
  font-weight: bold;
}

input,
textarea {
  margin: 10px 0;
  padding: 10px;
  width: 60%;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 11px;
  background-color: #ca9c4b;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(71, 70, 70);
  border-color: rgba(27, 35, 104, 0.466);
  outline: none;
}

input {
  margin-bottom: 10px;
}

textarea {
  margin-top: 0;
  height: 150px;
}

#enviar {
  padding: 10px 15px;
  background-color: #361911;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  font-size: 12px;
}

/*MENSAJE DE BIENVENIDA*/
.mensaje-bienvenida {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* para que esté encima de otros elementos */
  visibility: visible; /*visible por defecto */
  overflow: auto;
}

.contenido-mensaje {
  background-color: #ca9c4b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #002b31;
  position: relative;
  max-width: 90%;
  text-align: center;
  overflow: auto;
  max-width: 500px; /* Ajusta según sea necesario */
  max-height: 80vh; /* Ajusta según sea necesario */
}

.cerrar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.cerrar-btn:hover {
  color: #2a646d;
}

/*DESPLAZAMIENTO SUAVE*/
html {
  scroll-behavior: smooth;
}

/*VOLVER ARRIBA*/
.scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/*PIE DE PÁGINA*/
footer {
  text-size-adjust: auto;
  border: #1d545c 1px solid;
  border-radius: 2px;
  color: #1d545c;
  font-size: 70%;
  background-color: #002b31;
  text-align: center;
}

/* Media Queries para pantallas medianas */
@media (max-width: 767.98px) {
  /* Ajuste para pantallas de menos de 768px */
  header {
    height: 40vh; /* Reducir la altura en pantallas más pequeñas si es necesario */
  }

  h1 {
    font-size: 3rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  #centro p {
    font-size: 1rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  #acercaDeMi {
    padding: 15px; /* Reducir padding en pantallas más pequeñas */
  }

  #acercaDeMi h2 {
    font-size: 2.5rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  #acercaDeMi h3 {
    font-size: 1.5rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  p {
    font-size: 1rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  #miAprendizaje {
    padding: 10px; /* Reducir padding en pantallas más pequeñas */
  }

  #miAprendizaje h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del título para pantallas pequeñas */
  }

  #miAprendizaje img {
    max-width: 80px; /* Ajustar tamaño máximo de las imágenes en pantallas pequeñas */
  }

  .objetivosInfo {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    gap: 15px; /* Ajusta el espacio entre columnas */
  }

  .objetivosInfo h3 {
    font-size: 1.5rem; /* Tamaño de fuente del encabezado en pantallas pequeñas */
  }

  .objetivosInfo p {
    font-size: 1rem; /* Tamaño de fuente del párrafo en pantallas pequeñas */
  }
}
